.briefTypeImg {
    max-width: '100%';
    border: 1px solid;
}

.briefType {
    margin: 20px 0;
}

.colPadding {
    padding: 1%;
}

.steps {
    padding: 20px;
}

.btnContainer {
    padding: 20px 5px;
}

.headingLabel {
    margin-top: 10px;
    padding: 0 1%;
}

.headingLabel h4 {
    margin-bottom: 0;
}

.labelContainer {
    margin: 5px 0;
}

h4.briefType,
.briefTypeImg,
.labelText,
.checkboxText {
    color: #0b878f;
}

.checkboxText {
    font-weight: 500;
}

.errorMsg {
    color: red;
    font-weight: bold;
}